<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.0" targetFramework="net4" />
  <package id="Accord.Math" version="3.6.0" targetFramework="net4" />
  <package id="ILNumerics" version="4.8.0.0" targetFramework="net452" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net452" />
  <package id="Microsoft.Solver.Foundation" version="3.1.0" targetFramework="net40" />
</packages>