<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net4" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net4" />
  <package id="ILNumerics" version="3.3.3" targetFramework="net4" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net4" />
</packages>