<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.1-alpha" targetFramework="net452" userInstalled="true" />
  <package id="Accord.Controls" version="3.0.1-alpha" targetFramework="net452" userInstalled="true" />
  <package id="Accord.MachineLearning" version="3.0.1-alpha" targetFramework="net452" userInstalled="true" />
  <package id="Accord.Math" version="3.0.1-alpha" targetFramework="net452" userInstalled="true" />
  <package id="Accord.Statistics" version="3.0.1-alpha" targetFramework="net452" userInstalled="true" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net452" userInstalled="true" />
  <package id="ILNumerics" version="3.3.3" targetFramework="net452" userInstalled="true" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net452" userInstalled="true" />
  <package id="R.NET.Community" version="1.6.4" targetFramework="net452" userInstalled="true" />
  <package id="R.NET.Community.Graphics" version="0.2.2-alpha" targetFramework="net452" userInstalled="true" />
  <package id="ZedGraph" version="5.1.6" targetFramework="net452" userInstalled="true" />
</packages>